<div id="global-header">
    <div class="container">
      <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
      <div class="logo">Daeding</div>
      <ul class="menu">
        <a href="/">
          <li class="item">HOME</li>
        </a>
        <a href="/submits/new">
          <li class="item">프로젝트등록</li>
        </a>
        <a href="/submits">
          <li class="item">프로젝트보기</li>
        </a>
        <a href="/mypage">
            <li class="item">My page</li>
        </a>
      </ul>
    </div>
  </div>
