/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap";


.nav-item{
    padding-left: 40px;
}

.nav-link{
    color: white;
}


.navbar {
	margin-bottom: 0;
    padding-left: 80px;
    padding-right: 80px;
	
	border: 0;
}	

.topback{
    background-image: url(/assets/1.jpg);
    background-size: cover;
}



.btn-warning{
    color: white;
    background-color: #CB9F3D;
}

.form-inline{
    padding-left: 50px;
}

.home{
    padding-top: 50px;
}

.title{
    text-align:center;
    color: white;
    opacity: 0.5;
    font-size: calc(max(2px, 2vw));
}

.number{
    text-align:center;
    opacity: 0.9;
    font-size: calc(max(30px, 4vw));
     color: white;
}


@media screen and (max-width: 575px) {
    .switch{
        display: none; /* PC용 이미지를 보이지 않게 처리 */
    }
    .padding{
        padding-bottom:10%
    }
    .containe{
         padding-bottom:20px;
    }
    .navbar{
        background:black;   
    }

}

@media screen and (max-width: 992px) {
    .navbar{
        background: #444444;   
        padding-top: 5px;
    }

}

@media screen and (min-width: 993px) {
    .navbar{
        background:none;  
        padding-top: 15px; 
    }

}



@media screen and (min-width:576px){
     .padding{
        padding-bottom:50%
    }
    .containe{
         padding-bottom:10%;
    }
    
}


.navbar-brand{
    font-family: 'Pacifico', cursive;
}

.fixnav .navbar{
    background: #444444;   
    padding-top: 5px;
}

.hidden {
    display: none;
}











